<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Highlight_Sync-01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEFD8A611D642A360098A898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFD8A721D642A360098A898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFD8A7D1D642A360098A898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
